
.hero-section {
    background: url('photos/tumbrl.jpeg') no-repeat center center/cover;
    padding: 100px 20px;
}


h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

#galeria img {
    transition: transform 0.3s ease-in-out;
}

#galeria img:hover {
    transform: scale(1.1);
}

form .form-control {
    border-radius: 10px;
}

form button {
    border-radius: 20px;
}

footer {
    background: linear-gradient(45deg, #3498db, #2c3e50); 
    color: #9e691a;
    font-size: 14px;
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.1);
}
